In [4]:
docA = 'the cat sat on my face'
docB = 'the dog sat on my bed'

#docA = 'the man went out for a walk'
#docB = 'the children sat around the fire'

In [5]:
bagOfWordsA = docA.split(' ')
bagOfWordsB = docB.split(' ')

In [6]:
bagOfWordsA

['the', 'cat', 'sat', 'on', 'my', 'face']

In [7]:
bagOfWordsB

['the', 'dog', 'sat', 'on', 'my', 'bed']

In [8]:
uniqueWordSet = set(bagOfWordsA).union(set(bagOfWordsB))

In [9]:
uniqueWordSet

{'bed', 'cat', 'dog', 'face', 'my', 'on', 'sat', 'the'}

In [10]:
wordDictA = dict.fromkeys(uniqueWordSet, 0) 
wordDictB = dict.fromkeys(uniqueWordSet, 0)

In [11]:
wordDictA

{'the': 0, 'cat': 0, 'face': 0, 'my': 0, 'dog': 0, 'bed': 0, 'on': 0, 'sat': 0}

In [12]:
wordDictB

{'the': 0, 'cat': 0, 'face': 0, 'my': 0, 'dog': 0, 'bed': 0, 'on': 0, 'sat': 0}

In [13]:
for word in bagOfWordsA:
    wordDictA[word]+=1
    
for word in bagOfWordsB:
    wordDictB[word]+=1

In [14]:
wordDictA

{'the': 1, 'cat': 1, 'face': 1, 'my': 1, 'dog': 0, 'bed': 0, 'on': 1, 'sat': 1}

In [15]:
wordDictB

{'the': 1, 'cat': 0, 'face': 0, 'my': 1, 'dog': 1, 'bed': 1, 'on': 1, 'sat': 1}

In [16]:
import pandas as pd
pd.DataFrame([wordDictA, wordDictB])

   bed  cat  dog  face  my  on  sat  the
0    0    1    0     1   1   1    1    1
1    1    0    1     0   1   1    1    1

In [17]:
#import nltk
#nltk.download()
#from nltk.corpus import stopwords
#stopwords.words('english')

In [18]:
def computeTF(wordDict, BoW):
    tfDict = {}
    bowCount = len(BoW)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [19]:
tfBowA = computeTF(wordDictA, bagOfWordsA)
tfBowB = computeTF(wordDictB, bagOfWordsB)

In [20]:
tfBowA

{'the': 0.16666666666666666,
 'cat': 0.16666666666666666,
 'face': 0.16666666666666666,
 'my': 0.16666666666666666,
 'dog': 0.0,
 'bed': 0.0,
 'on': 0.16666666666666666,
 'sat': 0.16666666666666666}

In [21]:
tfBowB

{'the': 0.16666666666666666,
 'cat': 0.0,
 'face': 0.0,
 'my': 0.16666666666666666,
 'dog': 0.16666666666666666,
 'bed': 0.16666666666666666,
 'on': 0.16666666666666666,
 'sat': 0.16666666666666666}

In [22]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [23]:
idfs = computeIDF([wordDictA, wordDictB])

In [24]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [25]:
tfidfBowA = computeTFIDF(tfBowA, idfs)
tfidfBowB = computeTFIDF(tfBowB, idfs)

In [26]:
import pandas as pd
pd.DataFrame([tfidfBowA, tfidfBowB])

        bed       cat       dog      face   my   on  sat  the
0  0.000000  0.050172  0.000000  0.050172  0.0  0.0  0.0  0.0
1  0.050172  0.000000  0.050172  0.000000  0.0  0.0  0.0  0.0