<h2>2. Python Data Types</h2>

<h3>2.1 Numeric: int, float, complex</h3>

<h4>Number Data Type in Python</h4>

Python support integers, floating-point numbers and complex numbers. <br><br>
Integers and floating points are separated by the presence or absence of a decimal point.<br><br>
Complex numbers are written in the form, x + yj, where x is the real part and y is the imaginary part.<br><br>
Integers can be of any length, a floating-point number is accurate only up to 15 decimal places (the 16th place is inaccurate).

In [1]:
a = 5
print(type(a))

<class 'int'>

In [2]:
a = 5.0
print(type(a))

<class 'float'>

In [3]:
a = 5 + 6j
print(a + 6)

print(type(a))

(11+6j)
<class 'complex'>

<h3>2.2 Text: str</h3>

<h4>2.2.1 String</h4>

In Python, a string is a sequence of Unicode characters. Unicode was introduces to include every character in all languages and bring uniformly in encoding. You can learn about Unicode from Python Unicode. <br><br>
Strings can be created by enclosing characters inside a single quote or double-quotes. Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [4]:
# create a string

s1 = "I love python"

s2 = 'I love python' # in a single quote or double-quotes

s3 = """I
love
Python""" # Python quotes for multiline strings and docstrings

print(s1)
print(s2)
print(s3)
print(len(s1))
print(len(s3))
print(type(s1))
print(type(s2))
print(type(s3))

I love python
I love python
I
love
Python
13
13
<class 'str'>
<class 'str'>
<class 'str'>

<h4>2.2.2 Escape Sequence</h4>

To insert characters that are illegal in a string, use an escape character.<br><br>
An escape character is a backslash \ followed by the character you want to insert. <br><br>
An escape sequence starts with a backslash and is interpreted differently. If we use a single quote to represent a string, all the single quotes inside the string must be escaped. Similar is the case with double quotes

In [5]:
# to show the Double quote
s = 'python"'
print(s)

python"

In [7]:
# to show the Backslash
s = 'python\\'
print(s)

python\

In [8]:
# to start a new line
s = "py\nthon"
print(s)

py
thon

<h4>2.2.3 Raw String</h4>

Sometimes we may wish to ignore the escape sequences inside a string. To do this we can place r or R in front of the string. This will imply that it is a raw string and any escape sequence inside it will be ignored.

In [9]:
string = "C:\\abc\\abc\\abc.txt"
print(string)

C:\abc\abc\abc.txt

In [10]:
s = r"C:\abc\abc\abc.txt"
print(s)

C:\abc\abc\abc.txt

<h4>2.2.4 Access Characters in a String</h4>

We can access individual characters using indexing and a range of characters using slicing. Index starts from 0. Trying to access a character out of index range will raise an IndexError. The index must be an integer. We can't use floats or other types, this will result into TypeError. <br><br>
Python allows negative indexing for its sequences.<br><br>
The index of -1 to the last item, -2 to the second last item and so on. We can access a range of items in a string by using the slicing operator :(colon).

In [11]:
s = "python"
s[0]

'p'

In [14]:
s[5]

'n'

In [16]:
s[-2]

'o'

In [17]:
s[99]

IndexError: string index out of range

In [18]:
s[1.0]

TypeError: string indices must be integers, not 'float'

In [20]:
# python
s[0:3]

'pyt'

In [21]:
# python
s[0:4:2]

'pt'

In [22]:
# unchangeable
s[0] = "l"

TypeError: 'str' object does not support item assignment

<h4>2.2.5 String Operations</h4>

There are many operations that can be performed with strings which makes it one of the most used data types in Python. <br><br>
Joining of twon more strings into a single one is called concatenation. The + operator does this in Python.<br><br>
The * operator can be used to repeat the string for a given number of times.

In [24]:
# + operator
a = "hello"
space = " "
b = "world"
print(a+space+b)

hello world

In [25]:
# * operator
a = "hello"
b = 2
print(a*2)

hellohello

<h4>2.2.6 Common Python String Methods</h4>

There are numerous methods available with the string object.<br><br>
Some of the commonly used methods are lower(), upper(), join(), split(), find(), replace(), etc

In [26]:
# split
s = "python is cool"
s.split(' ')

['python', 'is', 'cool']

In [27]:
# replace
s = 'python'
s.replace('py', 'ABC')

'ABCthon'

In [28]:
# lower and upper
s = "PYthon"
print(s.lower())
print(s.upper())

python
PYTHON

In [30]:
# join
" ".join(['python', 'is', 'cool'])

'python is cool'

<h4>2.2.7 String formatting</h4>

In [ ]:
# switch %s and %d with AI and 63
'My name is %s , age is %d' %('AI', 63)

<h3>2.3 Lists</h3>

Lists are mutable sequences, typically used to store collections of homogeneous items.<br><br>
List = [obj1, obj2, ...]

In [31]:
l = [1, 2, 3, 'abc'] # create a list
print(l)

[1, 2, 3, 'abc']

In [32]:
# access items in a list
print(l[1])
print(l[0:2])
print(l[0:3:2])

2
[1, 2]
[1, 3]

In [33]:
# change items in a list
l[1] = 0
print(l)

[1, 0, 3, 'abc']

<h4>2.3.1 Lists Operators</h4>

Same as string operators.

In [34]:
a = [1, 2, 3]
b = [4, 5]

In [35]:
# * operator
print(a*2)

# + operator
print(a+b)

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 4, 5]

In [37]:
import numpy
arr = numpy.array(a)
print(arr*2)

[2 4 6]

<h4>2.3.2 Lists Methods</h4>

In [ ]:
animals = ['cat', 'dog', 'bird']

# list.append(obj) : add one item to the end of a list
animals.append('fish') # add fish
print(animals)

In [ ]:
# list.remove(obj) : delete one one or more items from a list
animals.remove('fish') # delete fish
print(animals)

In [ ]:
# list.insert(index, obj) : insert an item at the defined index
animals.insert(1, 'fish') # insert fish at index 1
print(animals)

In [ ]:
# list.pop([index=-1]) : remove and returns the last item if the index is not provided
print(animals.pop()) # removes the item at index -1 and returns the left items
print(animals)

In [ ]:
# enumerate(sequence) : adds counter to an iterable and returns it.
for index, element in enumerate(animals):
    print(index, element)

In [ ]:
# list sort
list1 = [12, 45, 32, 55]

# list.sort(cmp=None, key=None, reverse=False: sorts the elements of a given list in a specific ascend)
list1.sort() # sort list1
print(list1)

In [ ]:
# list.reverse() : reverses the elements of the list.
list1.reverse() # reverses list1
print(list1)

In [ ]:
# list Comprehension
squares = [x*2 for x in animals] # define and create lists based on existing lists.
print(squares)

<h4>2.3.3 Lists slicing and indexing</h4>

List indexing returns the index of the specified element in the list.

In [ ]:
l = [[1, 3], [4, 5]]
l[1][0]

List slicing returns a slice object that can be used to slice strings, lists, tuple, etc. <br><br>
list[start:end:step]:
<li>start: where slicing starts; Default to None if not provided</li>
<li>end: where slicing stops;</li>
<li>step: determines the increment between each index for slicing; Default to None if not provided</li>

In [ ]:
l = [0, 1, 2, 3, 4, 5, (6, 7)]
l[::2]

In [ ]:
l[1:4:2]

<h3>2.4 Tuples</h3>

Tuples are immutable sequences, typically used to store collections of heterogeneous data (such as the 2-tuples produced by the enumerate() built-in). Tuples are also used for case where an immutable sequence of homogeneous data is needed (such as allowing storage in a set or dict instance).<br><br>
(obj1, obj2, ...)

In [ ]:
# create a tuple
t = (1, [1, 2], "python")
print(t)
print(type(t))

In [ ]:
# create a tuple with an item
t1 = (5)
t2 = (5,) # ", " is needed
print("t1", type(t1))
print("t2", type(t2))

In [ ]:
# tuple indexing
t = (1, 2, 3)
print(t[-1])

In [ ]:
# tuple unchangeable
t[1] = 0

<h3>2.5 Dictionaries</h3>

A dictionary is an unordered collection of items. Each item of a dictionary has a key:value pair. The keys within one dictionary are unique. If you store data using a key that is already in use, the old value associated with that key is forgotten. Extracting a value using a non-existent key will cause error. <br><br>
Dictionaries are unordered, changeable and does not allow duplicates. A pair of braces creates an empty dictionary: {} <br><br>
{key:value}

In [ ]:
# create a dictionary in three different ways
x1 = {'item':'pencil', 'quantity':4, 'color':'pink'}
x2 = dict(item='pencil', quantity=4, color='pink')
x3 = dict([("item", "pencil"), ("quantity", 4), ("color", "pink")])

print(x1)
print(x2)
print(x3)

<h4>2.5.1 Access items in dictionaries</h4>

In [ ]:
# extract values in dictionary
print(x1['item'])

In [ ]:
print(x1["a"]) # report an error when extract a value using a non-existent key.

In [ ]:
# extract values by get(key, ["str"])
print(x1.get("item"))
print(x1.get("a")) # by get() method, returns none when extract a value using a non-existent key
print(x1.get("a", "cannot find a"))

In [ ]:
# extract all keys
print(x1.keys())

#extract all values
print(x1.values())

# extract all key:value pairs
print(x1.items())

In [ ]:
# insert an item to a dictionary
x1["x_key"] = "x_val"
print(x1)

In [ ]:
# change an item in a dictionary
x1["x_key"] = 0
print(x1)

<h3>2.6 Sets</h3>

A set is an unordered collection with no duplicate elements. <br><br>
Set objects also support mathematical operations like union, intersection, difference, and symmetric difference. <br><br>
Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not{}: the latter creates an empty dictionary<br><br>
{obj1, obj2, ...}

In [ ]:
sample_set = {'Prince', 'Techs'}
sample_set2 = set(['Prince', 'Techs'])
print(sample_set)
print(sample_set2)
print(type(sample_set))

In [ ]:
print('Data' in sample_set) # The in keyword is used to check if a value is present in a sequence
print('Techs' in sample_set)

In [ ]:
# set.add(obj) : adds a given element to a set. If the element is already present, it doesn't add any element
sample_set.add('Data')
print(sample_set)
print(len(sample_set))

In [ ]:
# set.remove(obj) : removes an element from a set
sample_set.remove('Data') # removes Data
print(sample_set)

In [ ]:
list2 = [1, 2, 1, 5, 3]
set1 = set(list2)
list2 = list(set1)
print(list2)

In [ ]:
sample_set = frozenset(sample_set) # unchangeable
sample_set.add('cat')

<h3>2.7 Operations on data</h3>

<h4>2.7.1 Deep copy and Shallow copy</h4>

Assignment statements in Python do not copy objects, they create bindings between a target and an object. For collections that are mutable or contain mutable items, a copy is sometimes needed so one can change one copy without changing the other.<br><br>
copy.copy(x)
<li>Return a shallow copy of x.</li><br>
copy.deepcopy(x[, memo])
<li>Return a deep copy of x</li><br>
The difference between shallow and deep copying is only relevant for compound objects (objects that contain other objects, like lists or class instaances):
<li>A shallow copy constructs a new compound object and then (to the extend possible) inserts references into it to the objects found in the original</li>
<li>A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original</li>

In [ ]:
# data assignment
a = [1, 2, 3, [4, 5]]
b = a # assign a to b
b[0] = 99
print(a)

In [ ]:
# data assignment
a = [1, 2, 3, [4, 5]]
b = a.copy() # shallow copy
b[0] = 99
print(a)

In [ ]:
b[3][0] = 99
print(a)

In [ ]:
import copy
# data assignment
a = [1, 2, 3, [4, 5]]
b = copy.deepcopy(a) # deep copy
b[3][0] = 99
print(a)

<h4>2.7.2 Operators</h4>

In [ ]:
# assignment operators
a = 5

In [ ]:
a += 1 # a = a + 1
print("a += 1 : ", a)

In [ ]:
a -= 1 # a = a - 1
print("a -= 1 : ", a)

In [ ]:
a *= 2 # a = a * 2
print("a *= 2 : ", a)

In [ ]:
a /= 2 # a = a / 2
print("a /= 2 : ", a)

In [ ]:
print( 10 // 5 )

In [ ]:
# comparison operators
print(1 >= 2)
print(1 <= 2)
print(1 != 2)
print(1 == 2)

In [ ]:
# logical operators
True and False

In [ ]:
True or False

In [ ]:
not True

In [ ]:
# membership operators
a = [1, 2, 3]
5 in a

In [ ]:
4 not in a

In [ ]:
# Identity operators
a = [1, 2]
b = a
c = a.copy()

print(a is b)

In [ ]:
print(a is c)

In [ ]:
print(a == b == c)